body{
    background:rebeccapurple;
    color:white;
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255,255,255);
    font-family: sans-serif;
    font-weight: bold;
}

div{
    margin: 10% 0 10% 0;
    padding: 2% 1% ;
    text-align: center;
    border: 1px solid #ccc;
    border-width:5px;  
    border-style:dotted solid double dashed;
}

button{
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:11px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}